.removeSpacing {
    margin: 0;
    padding-bottom: 15px;
}

.about-section {
    font-size: 75px;
    padding-bottom: 15px;
    color: rgb(119, 99, 80);
    font-weight: bolder;
}

.about-container {
    background-color: rgba(206, 197, 189, 0.862);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.profile-image {
    background-image: url("../images/gillian.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    width: 30vh;
    height: 30vh;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(127, 109, 96, 0.2), 0 6px 20px 0 rgba(132, 114, 102, 0.19);
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    width: 75%;
}

@media only screen and (max-width:600px) {
    .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-image {
        width: 50vw;
        height: 50vw;
    }

    .profile-text {
        padding-top: 30px;
    }
}