.contact-container {
    height: 40vh;
    background-color: #E1DDE3;
    color: rgb(75, 75, 75);
    padding-top: 6vw;
    padding-left: 12vw;
    display: flex;
    flex-direction: column;
}

.contact-information-container {
    display: flex;
    flex-direction: row;
}

.contact-title {
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.contact-information {
    padding-left: 4vw;
    font-weight: 600;
    padding-bottom: 15px;
}

.links {
    padding-left: 25vw;
    font-weight: 600;
    color: rgb(126, 126, 126);
    padding-bottom: 15px;
}

.links-container {
    display: flex;
    flex-direction: column;
}

.links:hover {
    color: rgb(164, 164, 164);
}

@media only screen and (max-width:600px) {
    .contact-information-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
    }

    .contact-information {
        padding-left: 0;
    }

    .links {
        padding-left: 0;
    }
}