.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject {
    padding-bottom: 50px;
}

.section-line {
    background-image: url("../images/line.png");
    height: 50px;
    width: 2px;
}

.experience-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 15px;
}

.experience-text-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.experience-text-date {
    display: flex;
    float: right;
}

.text-techstack {
    font-weight: bold;
    font-style: italic;
    color: rgb(100, 100, 100);
}

.text-p-e {
    padding-bottom: 10px;
}

.text-main {
    font-size: 24px;
    font-weight: bolder;
    color: #a04f2d;
}

.text-name-company {
    color: black;
    text-decoration: none;
    /* text-decoration: underline; */
    /* text-underline-offset: 3px; */
    font-size: 18px;
    padding-bottom: 3px;
}

.text-name-project {
    color: #a04f2d;
    font-weight: 900;
    text-decoration: none;
    font-size: 24px;
}


.text-company-project.project {
    font-size: 20px;
    font-weight: bolder;
}

.text-company-project:hover {
    color: #9CA4D3;

}

.experience-container:hover {
    transition-timing-function: ease-in;
    transition: 1s;
    box-shadow: 0 4px 8px 0 #9CA4D3, 0 3px 8px 0 #0D0C1D;
}


.logo {
    height: 70px;
    width: 70px;
    background-size: contain;
    border-radius: 15px;
    margin: 15px;
}

.logo.spotwork-image {
    background-image: url("../images/spotworkIcon.png");
}

.logo.ma-image {
    background-image: url("../images/maicon.jpg");
}

.logo.felicity-image {
    background-image: url("../images/felicityicon.png");
}

.logo.consano-image {
    background-image: url("../images/consano.png");
}

.harmonyy-image {
    height: 41px;
    width: 52px;
    background-size: contain;
    background-image: url("../images/harmonyy.png");
    margin: 15px;
}

.logo.yumyum-image {
    background-image: url("../images/yumyum.png");
}

@media only screen and (max-width:600px) {
    .experience-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experience-text-container {
        padding: 15px;
        display: flex;
        flex-direction: column;
        width: auto;
    }
}