body {
    background: linear-gradient(to bottom, rgba(33, 26, 21, 0.2), rgba(255, 255, 255, 0.85));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.header {
    height: fit-content;
}

.filler {
    height: 75px;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: scroll;
    background-image: linear-gradient(to bottom, rgba(111, 111, 111, 0.3), rgba(221, 220, 220, 0.9)),
        url('../images/pngegg.png');
    background-size: cover;
}

.intro-name-text {
    margin: 0;
    padding-left: 3ch;
    padding-top: 25vh;
    font-size: 75px;
    font-weight: 600;
    color: rgb(119, 99, 80);
}

.intro-attribute-text {
    /* margin-right: 5px; */
    width: 100%;
    padding-left: 5ch;
    font-size: 75px;
    color: rgb(119, 99, 80);
    display: inline-flex;
    /* position: absolute; */
    overflow-wrap: break-word;
}

.slideUp {
    width: 100%;
    display: inline-block;
    opacity: 0;
    max-height: fit-content;
    animation-name: slideUp;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-style: italic;
    font-weight: 700;
    color: rgb(175, 145, 117);
    padding-right: 30px;

}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        filter: blur(10px);
    }

    25% {
        opacity: 1;
        transform: translateY(0px);
        filter: blur(0px);
    }

    75% {
        opacity: 1;
        transform: translateY(0px);
        filter: blur(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
        filter: blur(10px);
    }
}


.new-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    padding-top: 75px;
    padding-bottom: 50px;
    color: rgb(119, 99, 80);
    font-size: 75px;
}

@media only screen and (max-width:700px) {
    .wrapper {
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        overflow-x: scroll;
        background-image: linear-gradient(to bottom, rgba(111, 111, 111, 0.3), rgba(221, 220, 220, 0.9)),
            url('../images/pngegg.png');
        background-size: cover;
    }

    .intro-name-text {
        margin: 0;
        padding-left: 2ch;
        padding-top: 25vh;
        font-size: 60px;
        font-weight: 600;
        color: rgb(119, 99, 80);
    }

    .intro-attribute-text {
        margin: 0;
        padding-left: 3ch;
        padding-top: 5px;
        font-size: 50px;
        color: rgb(119, 99, 80);
        display: inline-flex;
    }

    .slideUp {

        display: inline-block;
        opacity: 0;
        animation-name: slideUp;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        font-style: italic;
        font-size: 60px;
        font-weight: 700;
        color: rgb(175, 145, 117);
    }

    .new-section {
        font-size: 50px;
    }

    .name {
        display: block;
        padding-bottom: 20px;
    }

}