.nav-top {
    padding: 20px 40px;
    width: calc(100% - 80px);
    top: 0;
    position: fixed;
    background: transparent;
}

.nav-top.active {
    padding: 7px 40px;
    background: #f2eeed;
    transition-timing-function: ease-in;
    transition: 0.5s;
}

.options {
    padding: 13px;
    font-size: 1.2rem;
    border: 1px solid;
    border-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    background: none;
    outline: none;
    text-decoration: none;
    font-weight: 900;
    display: inline-block;
    position: relative;
}

.options::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9CA4D3;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.options:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width:600px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-top {
        padding: 20px 10px;
        width: calc(100% - 20px);
        top: 0;
        position: fixed;
        background: transparent;
    }
}